<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
  </head>
  <body style="margin: 0; background-color: #ccc;">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="margin: 20px auto; width: 100%; max-width: 500px; background-color: #fff; font-family: sans-serif; color: #4a4a4a;"
      align="center"
    >
      <!-- Logo -->
      <tr>
        <td style="text-align: center;padding: 20px;">
          <a href="https://www.viator.com/" target="_blank">
            <img src="https://cdn.tripadvisor.com/img2/email/viator_logo_v2.png" alt="Viator" width="100" height="auto">
          </a>
        </td>
      </tr>

      <!-- Banner -->
      <tr>
        <td style="text-align: center;padding: 0;">
          <h1 style="font-weight: bold; text-align: center;padding: 0 20px;">
            Expect the unexpected in {{ geo_name }}
          </h1>
          <a href="{{ geo_link }}">
            <img src="{{ geo_image }}" width="100%" height="auto">
          </a>
          <p style="padding: 20px; font-size: 18px; line-height: 28px; font-weight: 500;">
            Every destination has its must-sees, but we're here to help you see a side of {{ geo_name }} most travelers
            miss.
          </p>
        </td>
      </tr>

      <!-- Botón -->
      <tr>
        <td align="center">
          <a
            href="{{  geo_link }}"
            style="background-color: #af143e; color:#fff; padding: 12px 50px; text-decoration: none; display: inline-block;"
          >
            Discover hidden gems
          </a>
        </td>
      </tr>

      <!-- Subtítulo -->
      <tr>
        <td style="text-align: left;padding: 20px;">
          <h2>Top pick based on your bookings</h2>
        </td>
      </tr>

      <!-- Productos recomendados -->
      {% for product in recommended_products %}
        <tr>
          <td align="center" style="padding: 0 20px 20px 20px;">
            <table width="100%">
              <tr>
                <td width="60%" style="text-align: left;">
                  <p>{{ product.product_name }}</p>
                  <a href="{{ product.product_link}}" style="text-decoration: none; color: #3b3b3b;">
                    <img
                      src="https://cdn.tripadvisor.com/img2/email/rex/ratingstar{{ product.product_rating }}.png"
                      height="10"
                      width="auto"
                    >
                    {{ product.product_review_count }} reviews
                  </a>
                </td>
                <td width="40%" style="text-align: right;">
                  <a href="{{ product.product_link}}">
                    <img src="{{ product.product_photo_url }}" width="150px" height="auto" alt="Image">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
